@import "tailwindcss";

html {
    font-size: 15px;
}

@theme {
    --color-main-background: #110c0b;
}

@layer base {

    body {
        /*font-size: 15px;*/
        background: var(--color-main-background);
    }
}
